.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.aboutus, .awards, .contact {
    background: var(--secondary-color);
    color: var(--light-text);
    padding: 2rem;
    border-radius: var(--border-radius);
    grid-column: 1/3;
}

.aboutContent {
    padding: 1.5rem;
    text-align: justify;
    line-height: 1.8;
}

.subgrid1, .subgrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .subgrid1, .subgrid2 {
        grid-template-columns: 1fr;
    }
}