<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">XYZPharma</a>
        <!-- Add Router links here -->  
        <a class="navtext navStyle" href="#">Home</a>
        <a class="navtext navStyle" href="products">Products</a>
        <a class="navtext navStyle" href="investors">Investors</a>
        <a class="navtext navStyle" href="aboutus">About Us</a>
  </div>
</nav>


<!--Add router outlet tag here -->
<router-outlet></router-outlet>